################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/gg-file-organizer/.vs
/gg-file-organizer/bin
/gg-file-organizer/obj
