################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gg-file-organizer/gg-file-organizer/bin
/gg-file-organizer/gg-file-organizer/obj
/gg-file-organizer/.vs/gg-file-organizer/v16
/.vs
/gg-file-organizer/.vs/gg-file-organizer
/gg-file-organizer/bin/Debug
/gg-file-organizer/obj/Debug
